[MAIN]
extension-pkg-allow-list=pygame
py-version=3.12

[TYPECHECK]
generated-members=monitoring\..*

[FORMAT]
max-line-length=79
max-module-lines=1200

[DESIGN]
max-args=8
max-positional-arguments=8
max-attributes=20
max-locals=20
min-public-methods=1

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
